{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>New Subject</h1>
    <form action="/" method="post">
        <h3 class="form-heading">List a new subject</h3>
        <div class="form-field">
          <label for="name">Name</label>
          {{ form.name.label }} {{ form.name(size=20) }}
        </div>
        <div class="form-field">
            <label for="grade">Grade</label>
            {{ form.grade.label }} {{ form.grade }}
        </div>
        <input type="submit" value="Create Subject" class="btn btn-primary btn-lg btn-block" onclick="submitSubject()">
            Submit</button>

    </form>
</div>
    <script type="text/javascript">

        function submitSubject() {
            let name = document.getElementsByName("name");
            let grade = document.getElementsByName("grade");

            let data = {
                "name": name,
                "grade": grade
            }

            fetch(`${window.location.origin}/api/subjects/create`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then((response) => {
                    return response.json();
                })
                .then((myJson) => {
                    if (myJson['success'] == true) {
                        window.location.href = '/subjects';
                    }
                });

        }

    </script>
{% endblock %}