{% extends "base.html" %}

{% block content %}
    <h1>New Subject</h1>
    <form action="" method="post">
        <h3 class="form-heading">List a new subject</h3>
        <div class="form-group">
          <label for="name">Name</label>
          {{ form.name(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
            <label for="grade">Grade</label>
            {{ form.grade(class_ = 'form-control', autofocus = true) }}
        </div>
        <input type="submit" value="Create Subject" class="btn btn-primary btn-lg btn-block">
    </form>
{% endblock %}