{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="my-4">Text Tutor</h1>
  {% if tutors|length < 1 %}
  <p>There are no tutors available at the moment.</p>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Groceries</th>
        <th>Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for tutor in tutors %}
      <tr>
        <td><a href="">{{ tutor.name }}</a></td>
        <td>{{ tutor.phone }}</td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="" role="button">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}


</div>
{% endblock content %}